<div class="card p-3 my-5" [ngSwitch]="activeIndex">
    <p-steps [model]="items" [readonly]="true" [(activeIndex)]="activeIndex"></p-steps>

    <div *ngSwitchCase="PageNames.first">
    <p-card class="p-p-3">
        <ng-template pTemplate="title" class="title">
            Personal Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter your personal information
        </ng-template>
        <ng-template pTemplate="content" [formGroup]="personalInfoForm">
            <div class="row">
                <div class="col-md-6 col-12 mt-1">
                    <input formControlName="firstName"  type="text" required class="form-control" placeholder="First Name"
                    [ngClass]="{'warn': (firstName.invalid && submitted) || (firstName.touched && firstName.invalid)}"> 
                    <small *ngIf="(firstName.invalid && submitted) || (firstName.touched && firstName.invalid)" class="p-error">This field is required.</small>
                    <small *ngIf="(firstName.invalid && submitted) || (firstName.touched && firstName.hasError('pattern'))" class="p-error">Only letters are allowed.</small>
                </div>
                <div class="col-md-6 col-12 mt-1">
                    <input formControlName="lastName" type="text" required class="form-control" placeholder="Last Name"
                    [ngClass]="{'warn': (lastName.invalid && submitted) || (lastName.touched && lastName.invalid)}"> 
                    <small class="p-error" *ngIf="(lastName.invalid && submitted )|| (lastName.touched && lastName.invalid)">This field is required.</small>
                    <small class="p-error" *ngIf="(lastName.invalid && submitted )|| (lastName.touched && lastName.hasError('pattern'))">Only letters are allowed.</small>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 col-12 mt-1">
                    <input formControlName="contactEmail" type="text" required class="form-control" placeholder="Contact Email"
                    [ngClass]="{'warn': (contactEmail.invalid && submitted) || (contactEmail.touched && contactEmail.invalid)}"> 
                    <small class="p-error" *ngIf="(contactEmail.invalid && submitted )|| (contactEmail.touched && contactEmail.hasError('required'))">This filed is required.</small>
                    <small class="p-error" *ngIf="(contactEmail.invalid && contactEmail.touched && contactEmail.hasError('email'))">Please enter a valid email.</small>
                </div>
                <div class="col-md-6 col-12 mt-1">
                    <input formControlName="contactPhone" type="text" required class="form-control" placeholder="Contact Phone"
                    [ngClass]="{'warn': (contactPhone.invalid && submitted) || (contactPhone.touched && contactPhone.invalid)}"> 
                    <small class="p-error" *ngIf="(contactPhone.invalid && submitted )|| (contactPhone.touched && contactPhone.invalid)">This field is required.</small>
                    <small class="p-error" *ngIf="(contactPhone.invalid && submitted )|| (contactPhone.touched && contactPhone.hasError('pattern'))">Only digits are allowed.</small>
                    <small class="p-error" *ngIf="(contactPhone.invalid && submitted )|| (contactPhone.touched && contactPhone.hasError('minlength' ))">Your phone number is 8 characters.</small>
                    <small class="p-error" *ngIf="(contactPhone.invalid && submitted )|| (contactPhone.touched && contactPhone.hasError('maxlength' ))">Your phone number is 8 characters.</small>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <p-button pRipple [disabled]="!personalInfoForm.valid" label="Next" icon="pi pi-angle-right" iconPos="right" (click)="changeIndex(1)"></p-button>
            </div>
        </ng-template>
    </p-card>
    </div>

    <div *ngSwitchCase="PageNames.second">
        <p-card class="p-p-3">
            <ng-template pTemplate="title" class="title">
                Delivery Address
            </ng-template>
            <ng-template pTemplate="subtitle">
                Enter your address information
            </ng-template>
            <ng-template pTemplate="content"  [formGroup]="addressForm">
                <div class="row">
                    <div class="col-6 col-md-4 pt-2">
                        <p-dropdown [options]="governorates" optionLabel="name" formControlName="selectedGovernorate" optionDisabled="inactive"
                        (onChange)="selectGovernorate(selectedGovernorate.value)"></p-dropdown>
                        <small *ngIf="(selectedGovernorate.invalid && submitted) || (selectedGovernorate.touched && selectedGovernorate.invalid)" class="p-error">
                            This field is required.
                        </small>
                    </div>
                    <div class="col-6 col-md-4 pt-2">
                        <p-dropdown [options]="districts" optionLabel="name" formControlName="selectedDistrict" optionDisabled="inactive"
                        (onChange)="selectDistrict(selectedDistrict.value)"></p-dropdown>
                        <small *ngIf="(selectedDistrict.invalid && submitted) || (selectedDistrict.touched && selectedDistrict.invalid)" class="p-error">
                            This field is required.
                        </small>
                    </div>
                    <div class="col-4 col-md-4 pt-2">
                        <input type="text" class="form-control" placeholder="Zip Code">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-6 pt-2">
                        <input type="text" class="form-control" formControlName="firstLine" placeholder="Address - First Line">
                        <small *ngIf="(firstLine.invalid && submitted) || (firstLine.touched && firstLine.invalid)" class="p-error">
                            This field is required.
                        </small>
                    </div>
                    <div class="col-12 col-md-6 pt-2">
                        <input type="text" class="form-control" formControlName="secondLine" placeholder="Address - Second Line">
                        <small *ngIf="(secondLine.invalid && submitted) || (secondLine.touched && secondLine.invalid)" class="p-error">
                            This field is required.
                        </small>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="p-grid p-nogutter p-justify-between">
                    <p-button pRipple label="Back" icon="pi pi-angle-left" (click)="back()"></p-button>
                    <p-button pRipple [disabled]="!addressForm.valid" label="Next" icon="pi pi-angle-right" iconPos="right" (click)="changeIndex(2)"></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div *ngSwitchCase="PageNames.third">
        <p-card class="p-p-3">
            <ng-template pTemplate="content" class="title">
                <h4 style="text-align: center;">Oups! This feature is not available right now!</h4>
                <br>
                <p  style="text-align: center;">Please proceed to the next step!</p>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="p-grid p-nogutter p-justify-between">
                    <p-button pRipple label="Back" icon="pi pi-angle-left" (click)="back()"></p-button>
                    <p-button pRipple label="Next" icon="pi pi-angle-right" iconPos="right" (click)="changeIndex(3)"></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div *ngSwitchCase="PageNames.forth">
        <p-card>
            <ng-template pTemplate="title" class="title">
                Confirmation
            </ng-template>
            <ng-template pTemplate="subtitle">
                Please re-check your info
            </ng-template>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Personal Information">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Full Name: </strong>
                            <p>{{firstName.value}} {{lastName.value}}</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Email: </strong>
                            <p>{{contactEmail.value}}</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Phone: </strong>
                            <p>{{contactPhone.value}}</p>
                        </li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Address">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Region: </strong>
                            <p>{{selectedDistrict.value.name}}, {{selectedGovernorate.value.name}}</p>
                        </li>
                        <li class="list-group-item">
                            <strong>First Line: </strong>
                            <p>{{firstLine.value}}</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Second Line: </strong>
                            <p>{{secondLine.value}}</p>
                        </li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Order Details">
                    <div class="row" *ngFor="let item of orderItems">
                        <div class="col-6 col-md-2">
                            <img [src]="item.pictureUrl" class="item-image" alt="item.productName">
                        </div>
                        <div class="col-6 col-md-10">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>Product: </strong>
                                    <p>{{item.productName}}</p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Options: </strong>
                                    <p>{{item.quantity}} pieces, {{item.colorName}}, {{item.sizeName}}</p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Subtotal: </strong>
                                    <p>{{item.price * item.quantity | currency }}</p>
                                </li>
                            </ul>
                        </div>
                        <hr>
                    </div>  
                    <div class="row d-flex justify-content-center mr-1">
                        <h4 style="text-align: right;"><strong>Total:</strong> {{total | currency}}</h4>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <ng-template pTemplate="footer">
                <div class="p-grid p-nogutter p-justify-between">
                    <p-button pRipple label="Back" icon="pi pi-angle-left" (click)="back()"></p-button>
                    <p-button pRipple label="Complete" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success" (click)="placeOrder()"></p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<app-footer></app-footer>
