<div class="container-fluid py-5">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item" class="mt-1">
            <div class="product-item">
                <div class="product-item-content p-0">
                    <div>
                        <h5 class="mt-0">{{product.name}}</h5>
                        <img [src]="product.mainImageUrl" [alt]="product.name" class="product-image mt-2">
                        <h6 class="mt-2">${{product.price}}</h6>
                        <div class="car-buttons mt-1 hidden">
                            <p-button type="button" class="m-1" styleClass="p-button-success p-button-rounded" icon="pi pi-shopping-cart"></p-button>
                            <p-button type="button" class="m-1" styleClass="p-button-help p-button-rounded" icon="pi pi-eye" [style]="{color: 'white'}"></p-button>
                            <p-button type="button" class="m-1" styleClass="p-button-danger p-button-rounded" icon="pi pi-heart"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
