<div *ngIf="(basket$ | async) as basket" class="mb-5">
    <div *ngIf="basket.length === 0">
        <div class="container-fluid">
            <hr>
            <div class="row pt-5">
                <h5 style="text-align: center;">Your basket is empty.</h5>
                <p style="text-align: center;"><a [routerLink]="['/']">Discover new items</a></p>
            </div>
        </div>    
    </div>
    <div *ngIf="basket.length > 0">
        <div style="border-bottom: none;">
            <p-toolbar class="card">
                <ng-template pTemplate="left">
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple class="p-button-help p-mr-2 p-d-inline-block"
                        *ngIf="selectedItems.length > 0"
                        (click)="order()">
                        Order selected items for {{ this.getTotal(this.selectedItems) | currency }}
                    </button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger" 
                    (click)="deleteSelectedItems()" 
                    [disabled]="!selectedItems || !selectedItems.length"></button>
                </ng-template>
            </p-toolbar>
        </div>
        <div class="card" *ngIf="(basket$ | async ) as basket">
            <p-table #dt [value]="basket" [rows]="10"
                [(selection)]="selectedItems" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="checkbox" style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th  class="hidden">Image</th>
                        <th  class="hidden">Price</th>
                        <th  class="hidden">Amount</th>
                        <th class="hidden"> Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td style="padding-left: 0% !important;">
                            <div style="position: relative;">
                                <div class="row">
                                    <img [src]="item.pictureUrl" alt="item.name" class="item-image">
                                </div>
                                <div class="row mt-1" style="text-align: left; font-size: smaller;">
                                    {{item.sizeName}}, {{item.colorName}}
                                </div>
                            </div>
                        </td>
                        <td class="price hidden">{{item.price | currency:'USD'}}</td>
                        <td>
                            <i pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-warning mt-1" (click)="decrementItemQuantity(item)"
                            style="width: 25px; height: 25px;"></i>
                            {{item.quantity}}
                            <i pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-warning mt-1" (click)="incrementItemQuantity(item)"
                            style="width: 25px; height: 25px;"></i>
                        </td>
                        <td>{{item.quantity * item.price | currency}}</td>
                        <td class="buttons hidden">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteItem(item)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<app-footer></app-footer>
