<div *ngIf="!pending">
    <div class="p-grid p-nogutter p-justify-end mb-3">
        <a pRipple (click)="clearRecentOrders()" class="clearSpan">Clear all</a>
    </div>
</div>
<div *ngFor="let order of orders" class="mb-2">
    <p-panel [toggleable]="true" [collapsed]="true" [styleClass]="pending === true ? 'pending' : 'received'">
        <ng-template pTemplate = "header">
            <span *ngIf="pending"> Ordered in {{ order.orderedAt | date }} at {{ order.orderedAt | date: 'shortTime' }}</span>
            <span *ngIf="!pending">Received in {{ order.receivedAt | date }} at {{ order.receivedAt | date: 'shortTime' }}</span>
        </ng-template>
            <ng-template pTemplate= "icons">
                <span pRipple *ngIf="!pending" pButton class="p-panel-header-icon p-link" (click)="deleteItem(order)">
                    <span class="pi pi-trash"></span>
                </span>
            </ng-template>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Full Name: </strong>
                <p>{{order.personalInfo.firstName}} {{order.personalInfo.lastName}}</p>
            </li>
            <li class="list-group-item">
                <strong>Email: </strong>
                <p>{{order.personalInfo.contactEmail}}</p>
            </li>
            <li class="list-group-item">
                <strong>Phone: </strong>
                <p>{{order.personalInfo.contactPhone}}</p>
            </li>
            <li class="list-group-item">
                <strong>Region: </strong>
                <p>{{order.address.district.name}}, {{order.address.governorate.name}}</p>
            </li>
            <li class="list-group-item">
                <strong>First Line: </strong>
                <p>{{order.address.firstLine}}</p>
            </li>
            <li class="list-group-item">
                <strong>Second Line: </strong>
                <p>{{order.address.secondLine}}</p>
            </li>
        </ul>
        <hr>
        <p-inplace>
            <ng-template pTemplate="display">
                <div class="p-grid p-nogutter p-justify-end">
                    <p-button pRipple label="View Order Items" icon="pi pi-chevron-circle-down" styleClass="p-button-info"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div *ngFor="let item of order.items">
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <img [src]="item.pictureUrl" class="item-image" alt="item.productName">
                        </div>
                        <div class="col-6 col-md-10">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>Product: </strong>
                                    <p>{{item.productName}}</p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Options: </strong>
                                    <p>{{item.quantity}} pieces, {{item.colorName}}, {{item.sizeName}}</p>
                                </li>
                                <li class="list-group-item">
                                    <strong>Subtotal: </strong>
                                    <p>{{item.price * item.quantity | currency }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p-divider layout="horizontal"></p-divider>
                </div>
                <div class="row d-flex justify-content-center mr-1 mt-1">
                    <h6 style="text-align: right;"><strong>Total:</strong> {{order.total | currency}}</h6>
                </div>
            </ng-template>
        </p-inplace>
        <div *ngIf="pending">
            <div class="p-grid p-nogutter p-justify-end mt-2">
                <p-button pRipple icon="pi pi-check-circle" label="Confirm order received" styleClass="p-button-warning" (click)="confirmOrder(order.id)"></p-button>
            </div>
        </div>
    </p-panel>
</div>
