<div class="container-fluid my-4">
    <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex">
        <p-tabPanel header="Header I">
            <ng-template pTemplate = "header">
                <h6 class="p-2 pending">PENDING</h6>
            </ng-template>
            <div *ngIf="pendingOrders.length > 0">
              <app-order-card [orders]="pendingOrders" [pending]="true"></app-order-card>
          </div>
          <div *ngIf="pendingOrders.length === 0" class="m-3">
            <h6>Nothing to show.</h6>
          </div> 
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate = "header">
                <h6 class="p-2 recent">RECENT</h6>
            </ng-template>
            <div *ngIf="recentOrders.length > 0">
              <app-order-card [orders]="recentOrders"  [pending]="false"></app-order-card>
            </div>
            <div *ngIf="recentOrders.length === 0" class="m-3">
              <h6>Nothing to show.</h6>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
<app-footer class="mt-5"></app-footer>
