<div class="container-fluid bk-yellow">
    <div class="row">
        <div class="col-md-6 col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Learn More</h5>
                </li>
                <li class="list-group-item">
                    <h6>About Us</h6>
                </li>
                <li class="list-group-item">
                    <h6>Contact Us</h6>
                </li>
                <li class="list-group-item">
                    <h6>Terms & Conditions</h6>
                </li>
                <li class="list-group-item">
                    <h6>FAQ</h6>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Follow Us</h5>
                </li>
                <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
                        </li>
                        <li class="list-group-item">
                            <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

