<div class="container-fluid my-5 py-1 pt-3 bk-light-purple">
    <div class="row">
        <div class="col-4">
            <span>
                <fa-icon class="icon yellow" [icon]="faCheckCircle"></fa-icon>
            </span>
            <p>Trusted Quality</p>
        </div>
        <div class="col-4">
            <span>
                <fa-icon class="icon yellow" [icon]="faShield"></fa-icon>
            </span>
            <p>Secure Payment</p>
        </div>
        <div class="col-4">
            <span>
                <fa-icon class="icon yellow" [icon]="faTruck"></fa-icon>
            </span>
            <p>Free Delivery</p>
        </div>
    </div>
</div>